input:not([type='checkbox']):not([type='radio']),
textarea {
  @include set-fontsize('input');
  color: $font-default-color;
  border: $border-width solid $input-border-color;
  border-radius: $border-radius;
  padding: 0.5em 0.8125em;
  width: 100%;
  position: relative;
  text-align: left;
  -webkit-appearance: none;

  &:hover {
    border: $border-width solid $input-border-color-hover !important;
    box-shadow: none !important;
  }

  &:focus {
    border: $border-width solid $input-border-color-focus !important;
    box-shadow: 0 0 0 $border-width $input-border-color-focus !important;
    outline: none !important;
  }

  &[disabled] {
    color: $input-color-disabled;
    background: $input-background-color-disabled;
    border: $border-width solid $input-border-color-disabled !important;
  }
}

.form-input {
  position: relative;
  margin-top: 1em;

  label {
    display: block;
    position: relative;
    width: 100%;

    &:hover {
      input,
      textarea {
        border: $border-width solid $input-border-color-hover;
      }
    }
  }

  textarea {
    display: table;
  }

  .form-input__label {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 100%
    );
    top: 0;
    cursor: inherit;
    font-size: 0.8em;
    line-height: 0.8em;
    color: $font-default-color;
    padding: 0.125em 0.5em;
    left: 0.6125em;
    width: auto;
    transform: translateY(-50%);
  }

  .form-input__label {
    color: $input-color-disabled;
  }
}

.form-input--search {
  @include add-icon-after('\F014', 1.7em);
  color: $dark-grey;
  padding: 0;
}
.form-input--search::after {
  right: 8px;
}

.form-input--dropdown {
  @include add-icon-after('\F01F', 1.7em);
  padding: 0;
}

.form-input__input {
  cursor: pointer;
}

.form-input__label {
  font-size: inherit;
  line-height: inherit;
  position: absolute;
  display: block;
  top: 0%;
  z-index: 2;
  width: 100%;
  padding: 0 0.8125em;
  cursor: text;
  transform: translateY(-50%);
  top: 50%;
  transition: all 200ms ease-in-out;
  white-space: nowrap;
  text-align: left;
}

.form-input--success {
  input,
  textarea {
    border: $border-width solid $input-color-success;
    box-shadow: 0 0 0 $border-width $input-color-success;
  }
}

.form-input--error {
  input,
  textarea {
    border: $border-width solid $input-color-error;
    box-shadow: 0 0 0 $border-width $input-color-error;
  }
}

.form-input__error {
  background-color: $light-red;
  border: $border-width solid $input-color-error;
  border-radius: $border-radius;
  color: $input-color-error;
  display: inline-block;
  left: 0em;
  padding: 0.5em 0.8125em;
  margin-top: 0.345em;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  width: auto;
  max-width: calc(100% - 1em);
  z-index: 100;
  transform: translateY(100%);

  @include set-fontsize('xs');

  line-height: 1 !important;

  &:after {
    background-color: $light-red;
    border-bottom: none;
    border-left: $border-width solid $input-color-error;
    border-right: none;
    border-top: $border-width solid $input-color-error;
    color: $input-color-error;
    content: ' ';
    display: block;
    height: 0.625em;
    left: 0.625em;
    position: absolute;
    top: -0.345em;
    transform: rotate(45deg);
    width: 0.625em;
  }
}

.form-input--disabled {
  cursor: default !important;
  pointer-events: none;
  background: $input-background-color-disabled;
}

.form-input__checkbox,
.form-input__radio {
  .form-input__check {
    border: $border-width solid $input-border-checkbox-radio;
    border-radius: $border-radius;
    position: absolute;
    display: block;
    width: 1.25em;
    height: 1.25em;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  label {
    cursor: pointer;
    padding-left: 1.25em;
  }

  input {
    visibility: hidden;

    // Box focus
    &:focus + .form-input__check {
      border: $border-width solid $input-border-color-focus !important;
      box-shadow: 0 0 0 $border-width $input-border-color-focus !important;
      outline: none !important;
    }

    // Box checked
    &:checked + .form-input__check {
      background: $green;
      border: $border-width solid $green;
      @include set-icon-font();
      &:before {
        color: #fff;
        content: '\F006';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    &:disabled + .form-input__check {
      border: $border-width solid $input-border-color-disabled;
      cursor: default;
    }
  }
}

.form-input__radio {
  .form-input__check {
    border-radius: 5em;
  }
}

// resets

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: 1px solid green;
//   -webkit-text-fill-color: green;
//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
//   transition: background-color 5000s ease-in-out 0s;
// }
