@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans');
  src: local('OpenSans');
  src: url('opensans.woff2') format('woff2');
  src: url('opensans.woff') format('woff');
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold');
  src: local('OpenSans-Bold');
  src: url('opensans-bold.woff2') format('woff2');
  src: url('opensans-bold.woff') format('woff');
}
