// Colors

$black: #000000;
$blue: #3da2dc;
$crimson: #96255c;
$dark-blue: #004461;
$dark-grey: #cacaca;
$darker-grey: #a0a0a0;
$extra-blue: #2dafe6;
$green: #71bc51;
$grey: #e5e5e5;
$inherit: inherit;
$light-blue: #f5faff;
$light-green: #e3f2dc;
$light-grey: #f8f8f8;
$light-red: #ffefe9;
$orange: #ffa12e;
$pauschal: #7d79b1;
$pink: #e5007d;
$red: #e74502;
$transparent: transparent;
$violett: #7d79b1;
$white: #ffffff;

// bootstrap
$enable-deprecation-messages: true;
$ignore-warning: false;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1700px,
);

$container-max-widths: (
  sm: 99rem,
  md: 99rem,
  lg: 99rem,
  xl: 99rem,
);

$enable-grid-classes: true;
$grid-columns: 12;
$grid-gutter-width: 1rem;

$theme-colors: (
  'dark-blue': $dark-blue,
  'blue': $blue,
  'white': $white,
  'grey': $light-grey,
  'green': $green,
  'transparent': transparent,
);

$enable-gradients: false;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex;
$overflows: auto, hidden;
$positions: static, relative, absolute, fixed, sticky;

$crop-aspect-ratios: ((21 9), (16 9), (16 6), (16 5), (16 3), (4 3), (1 1));

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
);

// borders

$border-width: 0.1rem;

$border-width-thick: 0.2rem;

$border-radius-sm: 0.3rem;
$border-radius: 0.5rem;
$border-radius-lg: 1rem;

$border-color: $grey;

$rounded-pill: 50rem;

// Fonts

$font-family-sans-serif: Open Sans;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

$font-family-base: $font-family-sans-serif, 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-default-color: $dark-blue;
$body-color: $font-default-color;
$text-muted: $grey;

$emphasized-link-hover-darken-percentage: 15% !default;

// calculate rem fontsizes based of 16px

$font-sizes-mobile: (
  'input': 1.5rem,
  'xxxl': 3rem,
  'xxl': 2.4rem,
  'xl': 1.8rem,
  'l': 1.6rem,
  'm': 1.5rem,
  's': 1.2rem,
  'xs': 1.2rem,
  'xxs': 1rem,
  'xxxs': 0.8rem,
);

$font-line-heights-mobile: (
  'input': 2.4 / 1.5,
  'xxxl': 3.2 / 3,
  'xxl': 2.6 / 2.4,
  'xl': 2.4 / 1.8,
  'l': 2.4 / 1.6,
  'm': 2.2 / 1.5,
  's': 2 / 1.2,
  'xs': 1.8 / 1.2,
  'xxs': 1.4 / 1,
  'xxxs': 1.2 / 0.8,
);

$font-sizes: (
  'input': 1.5rem,
  'xxxl': 6rem,
  'xxl': 3.6rem,
  'xl': 2.4rem,
  'l': 1.8rem,
  'm': 1.5rem,
  's': 1.5rem,
  'xs': 1.2rem,
  'xxs': 1rem,
  'xxxs': 0.8rem,
);

$font-line-heights: (
  'input': 2.4 / 1.6,
  'xxxl': 6.8 / 6,
  'xxl': 4.2 / 3.6,
  'xl': 3.2 / 2.4,
  'l': 2.4 / 1.8,
  'm': 2.2 / 1.5,
  's': 2.2 / 1.5,
  'xs': 1.8 / 1.2,
  'xxs': 1.4 / 1,
  'xxxs': 1.2 / 0.8,
);

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// buttons

$link-color: $blue;
$link-color-hover: $dark-blue;

$filled-button-text-color: $white;

$filled-button-color-default: $blue;

//TODO: button light is broken
$filled-button-colors: (
  'success': $green,
  'danger': $red,
  'light': $white,
);

$btn-hover-darken: 10%;

$btn-padding: 0.5em;

// icons

$icon-color-dark: $dark-blue;
$icon-color-light: $white;

// forms

$input-border-color: $grey;
$input-border-color-focus: $blue;
$input-border-color-hover: $dark-blue;
$input-border-color-disabled: $grey;

$input-background-color-disabled: $light-grey;

$input-color-error: $red;
$input-color-success: $green;
$input-color-disabled: $dark-blue;

$input-border-checkbox-radio: $dark-blue;

// navi

$navbar-height: 5rem;
$navbar-width: 10rem;
$navbar-width-open: 42.5rem;

// spacer

$spacer: 1rem;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 2,
  ),
  5: (
    $spacer * 4,
  ),
  6: (
    $spacer * 10,
  ),
);

// displays
$minimum-support-display-size: 320px;
$mobile-display-edge-distance: map-get($spacers, 4);
$mobile-display-edge-distance-total: calc(2 * #{$mobile-display-edge-distance});
$font-colors: (
  'dark-blue': $dark-blue,
  'blue': $blue,
  'white': $white,
  'green': $green,
  'dark-grey': $dark-grey,
  'pink': $pink,
);

$background-colors: (
  'blue': $blue,
  'white': $white,
  'green': $green,
  'light-grey': $light-grey,
  'red': $red,
  'pink': $pink,
);

$zindex: (
  'background': -1,
  'default': 1,
  'dropdown': 50,
);
